*

!.gitignore
!LICENSE
!README.md
!setup.sh
!starship.toml
!switch-theme.sh

!assets/
!assets/*

!btop/
!btop/btop.conf

!fish/
!fish/config.fish
!fish/fish_plugins

!ghostty/
!ghostty/config

!sketchybar/
!sketchybar/colors-dark.sh
!sketchybar/colors-dawn.sh
!sketchybar/sketchybarrc
!sketchybar/plugins/
!sketchybar/plugins/space.sh

!yabai/
!yabai/yabairc
